n8n-workflows/agent-principal.json
{
  "name": "Agent Principal вЂ” Dashboard n8n",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "router",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-200, 400],
      "id": "58aa1b8c-2888-421f-9c00-d759292bbf5c",
      "name": "Webhook",
      "webhookId": "80b9acf1-c52d-4047-8bdf-4158b555067a"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [{ "leftValue": "={{ $json.body.task }}", "rightValue": "ocr-image", "operator": { "type": "string", "operation": "equals" }, "id": "e6926093-2b8d-4e98-b029-b8383875eb17" }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "ocr-image"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [{ "leftValue": "={{ $json.body.task }}", "rightValue": "extract-pdf", "operator": { "type": "string", "operation": "equals" }, "id": "090c72b6-b826-4971-9a5e-7c02f3418b56" }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "extract-pdf"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [{ "leftValue": "={{ $json.body.task }}", "rightValue": "extract-file", "operator": { "type": "string", "operation": "equals" }, "id": "a1b2c3d4-0001-0001-0001-000000000001" }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "extract-file"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [{ "leftValue": "={{ $json.body.task }}", "rightValue": "summarize", "operator": { "type": "string", "operation": "equals" }, "id": "990162cd-1c28-4436-bead-fd8e95a49854" }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "summarize"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [{ "leftValue": "={{ $json.body.task }}", "rightValue": "translate", "operator": { "type": "string", "operation": "equals" }, "id": "e1e9f8d6-ad64-4d3b-956e-81af3a4e2d52" }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "translate"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [{ "leftValue": "={{ $json.body.task }}", "rightValue": "classify", "operator": { "type": "string", "operation": "equals" }, "id": "23df8742-374b-4376-af45-9d57988275fc" }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "classify"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [{ "leftValue": "={{ $json.body.task }}", "rightValue": "stats", "operator": { "type": "string", "operation": "equals" }, "id": "a1b2c3d4-0002-0002-0002-000000000002" }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "stats"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [{ "leftValue": "={{ $json.body.task }}", "rightValue": "csv-json", "operator": { "type": "string", "operation": "equals" }, "id": "a1b2c3d4-0003-0003-0003-000000000003" }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "csv-json"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [{ "leftValue": "={{ $json.body.task }}", "rightValue": "spellcheck", "operator": { "type": "string", "operation": "equals" }, "id": "a1b2c3d4-0004-0004-0004-000000000004" }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "spellcheck"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [{ "leftValue": "={{ $json.body.task }}", "rightValue": "detect-lang", "operator": { "type": "string", "operation": "equals" }, "id": "a1b2c3d4-0005-0005-0005-000000000005" }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "detect-lang"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [{ "leftValue": "={{ $json.body.task }}", "rightValue": "extract-invoice", "operator": { "type": "string", "operation": "equals" }, "id": "a1b2c3d4-0006-0006-0006-000000000006" }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "extract-invoice"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
                "conditions": [{ "leftValue": "={{ $json.body.task }}", "rightValue": "extract-form", "operator": { "type": "string", "operation": "equals" }, "id": "a1b2c3d4-0007-0007-0007-000000000007" }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "extract-form"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [60, 400],
      "id": "9f126a76-5e8a-44e3-bbda-2a68cc80f779",
      "name": "Router"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "helloworld" }] },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "base64Image", "value": "=data:{{ $json.body.mime }};base64,{{ $json.body.data }}" },
            { "name": "language", "value": "fre" },
            { "name": "isOverlayRequired", "value": "false" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, -400],
      "id": "479d141f-81cc-4dda-8049-de63fc2d92cc",
      "name": "OCR Image"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.ParsedResults[0].ParsedText.split(/\\r\\n|\\r|\\n/).filter(l => l.trim()).join('\\n') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, -400],
      "id": "c8d906ca-fd90-494f-85ba-0c2e36af3645",
      "name": "RГ©pondre OCR"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "helloworld" }] },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "base64Image", "value": "=data:{{ $json.body.mime }};base64,{{ $json.body.data }}" },
            { "name": "language", "value": "fre" },
            { "name": "isOverlayRequired", "value": "false" },
            { "name": "filetype", "value": "PDF" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, -200],
      "id": "5bd8d674-a8ab-45d5-b483-a1d70ed2b068",
      "name": "Extract PDF"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.ParsedResults[0].ParsedText.split(/\\r\\n|\\r|\\n/).filter(l => l.trim()).join('\\n') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, -200],
      "id": "72a38197-c5ec-4591-a54f-c94d118d8c03",
      "name": "RГ©pondre PDF"
    },

    {
      "parameters": {
        "jsCode": "const filename = $json.body.filename || '';\nconst mime = $json.body.mime || '';\nconst raw = Buffer.from($json.body.data, 'base64').toString('utf-8');\n\nif (mime === 'application/json' || filename.endsWith('.json')) {\n  const parsed = JSON.parse(raw);\n  return [{ json: { result: JSON.stringify(parsed, null, 2), type: 'JSON', lines: raw.split('\\n').length } }];\n}\n\nif (mime === 'text/tab-separated-values' || filename.endsWith('.tsv')) {\n  const lines = raw.trim().split('\\n').filter(l => l.trim());\n  const headers = lines[0].split('\\t').map(h => h.trim());\n  const rows = lines.slice(1).map(line => {\n    const values = line.split('\\t').map(v => v.trim());\n    return headers.reduce((obj, h, i) => ({ ...obj, [h]: values[i] ?? '' }), {});\n  });\n  return [{ json: { result: JSON.stringify(rows, null, 2), type: 'TSV', rows: rows.length, cols: headers.length } }];\n}\n\nif (mime === 'text/csv' || filename.endsWith('.csv')) {\n  const lines = raw.trim().split('\\n').filter(l => l.trim());\n  const headers = lines[0].split(',').map(h => h.trim().replace(/^\"|\"$/g, ''));\n  const rows = lines.slice(1).map(line => {\n    const values = line.match(/(?:\"[^\"]*\"|[^,]+)/g)?.map(v => v.trim().replace(/^\"|\"$/g, '')) ?? [];\n    return headers.reduce((obj, h, i) => ({ ...obj, [h]: values[i] ?? '' }), {});\n  });\n  return [{ json: { result: JSON.stringify(rows, null, 2), type: 'CSV', rows: rows.length, cols: headers.length } }];\n}\n\nreturn [{ json: { result: raw, type: 'TXT', lines: raw.split('\\n').length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 0],
      "id": "b1c2d3e4-0001-0001-0001-000000000001",
      "name": "Extract File"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ '[ ' + $json.type + ' вЂ” ' + ($json.rows !== undefined ? $json.rows + ' lignes Г— ' + $json.cols + ' colonnes' : $json.lines + ' lignes') + ' ]\\n\\n' + $json.result }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 0],
      "id": "b1c2d3e4-0002-0002-0002-000000000002",
      "name": "RГ©pondre Fichier"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/facebook/bart-large-cnn",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer VOTRE_TOKEN_HUGGINGFACE" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"inputs\": $json.body.text.substring(0, 3000), \"parameters\": { \"truncation\": \"only_first\", \"max_length\": 200 } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 200],
      "id": "1f3c80cf-4fec-47bf-b7ea-2c9e6cc24e8a",
      "name": "HuggingFace RГ©sumГ©"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.summary_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 200],
      "id": "87c69c02-d0b0-490d-a4fe-a709c88f4557",
      "name": "RГ©pondre RГ©sumГ©"
    },

    {
      "parameters": {
        "url": "https://api.mymemory.translated.net/get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "={{ $json.body.text }}" },
            { "name": "langpair", "value": "fr|en" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 400],
      "id": "092d4ef2-1ce3-4266-b805-4c9f11bbefe9",
      "name": "MyMemory Traduction"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.responseData.translatedText }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 400],
      "id": "3493696f-060c-45fe-9bfd-8c08873e631d",
      "name": "RГ©pondre Traduction"
    },

    {
      "parameters": {
        "jsCode": "const text = $json.body.text;\n\nconst words = text.trim().split(/\\s+/).filter(w => w.length > 0);\nconst sentences = text.split(/[.!?]+/).filter(s => s.trim().length > 0);\nconst paragraphs = text.split(/\\n\\n+/).filter(p => p.trim().length > 0);\nconst chars = text.length;\nconst charsNoSpace = text.replace(/\\s/g, '').length;\nconst readingTime = Math.max(1, Math.ceil(words.length / 200));\n\nreturn [{ json: { words: words.length, chars, charsNoSpace, sentences: sentences.length, paragraphs: paragraphs.length, readingTime } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 600],
      "id": "c1d2e3f4-0001-0001-0001-000000000001",
      "name": "Statistiques"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ 'рџ“Љ Statistiques du texte\\n\\nвЂў Mots         : ' + $json.words + '\\nвЂў CaractГЁres   : ' + $json.chars + ' (' + $json.charsNoSpace + ' sans espaces)\\nвЂў Phrases      : ' + $json.sentences + '\\nвЂў Paragraphes  : ' + $json.paragraphs + '\\nвЂў Lecture      : ~' + $json.readingTime + ' min' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 600],
      "id": "c1d2e3f4-0002-0002-0002-000000000002",
      "name": "RГ©pondre Stats"
    },

    {
      "parameters": {
        "jsCode": "const text = $json.body.text.trim();\nif (!text) return [{ json: { result: '[]', rows: 0, cols: 0 } }];\n\nconst lines = text.split('\\n').filter(l => l.trim());\nconst sep = lines[0].includes('\\t') ? '\\t' : ',';\nconst headers = lines[0].split(sep).map(h => h.trim().replace(/^\"|\"$/g, ''));\n\nconst rows = lines.slice(1).map(line => {\n  let values;\n  if (sep === ',') {\n    values = line.match(/(?:\"[^\"]*\"|[^,]+)/g)?.map(v => v.trim().replace(/^\"|\"$/g, '')) ?? [];\n  } else {\n    values = line.split('\\t').map(v => v.trim());\n  }\n  return headers.reduce((obj, h, i) => ({ ...obj, [h]: values[i] ?? '' }), {});\n});\n\nreturn [{ json: { result: JSON.stringify(rows, null, 2), rows: rows.length, cols: headers.length, headers } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 800],
      "id": "d1e2f3a4-0001-0001-0001-000000000001",
      "name": "CSV vers JSON"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ '[ CSV в†’ JSON вЂ” ' + $json.rows + ' lignes Г— ' + $json.cols + ' colonnes ]\\nColonnes : ' + $json.headers.join(', ') + '\\n\\n' + $json.result }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 800],
      "id": "d1e2f3a4-0002-0002-0002-000000000002",
      "name": "RГ©pondre CSV"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.languagetool.org/v2/check",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "text", "value": "={{ $json.body.text }}" },
            { "name": "language", "value": "fr" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 1000],
      "id": "e1f2a3b4-0001-0001-0001-000000000001",
      "name": "LanguageTool"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.matches.length === 0 ? 'вњ“ Aucune erreur dГ©tectГ©e' : $json.matches.length + ' erreur(s) trouvГ©e(s)\\n\\n' + $json.matches.map(m => 'вЂў \"' + m.context.text.substring(m.context.offset, m.context.offset + m.context.length) + '\"' + (m.replacements.length > 0 ? ' в†’ ' + m.replacements[0].value : '') + '\\n  ' + m.message).join('\\n\\n') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 1000],
      "id": "e1f2a3b4-0002-0002-0002-000000000002",
      "name": "RГ©pondre Correcteur"
    },

    {
      "parameters": {
        "jsCode": "const text = $json.body.text.toLowerCase();\n\nconst langs = [\n  { name: 'FranГ§ais', words: ['le','la','les','de','du','et','en','est','que','qui','dans','sur','avec','pour','par','au','une','des','ce','se','son','cette','mais','plus','aussi','comme','bien','trГЁs','tout','ГЄtre'] },\n  { name: 'Anglais', words: ['the','is','are','was','were','have','has','been','will','would','this','that','with','from','they','their','there','which','about','when','what','said','can','could','should','one','all','not','but','had'] },\n  { name: 'Espagnol', words: ['el','la','los','las','de','del','en','es','que','con','por','para','una','este','esta','pero','mГЎs','como','todo','cuando','desde','tiene','entre','tambiГ©n','mismo','sobre','cada','otro','serГ­a'] },\n  { name: 'Allemand', words: ['der','die','das','und','in','von','zu','den','des','mit','ist','fГјr','auf','dem','nicht','als','ein','eine','sich','auch','war','noch','eine','durch','werden','nach','hier','wird','aber','oder'] },\n  { name: 'Italien', words: ['il','la','le','di','della','in','che','per','un','una','nel','con','non','piГ№','anche','come','della','sono','questo','questa','hanno','tutto','loro','parte','suo','sua','stato','puГІ'] }\n];\n\nconst scores = langs.map(lang => ({\n  name: lang.name,\n  score: lang.words.filter(w => new RegExp('\\\\b' + w + '\\\\b').test(text)).length\n})).sort((a, b) => b.score - a.score);\n\nconst total = scores.reduce((s, l) => s + l.score, 0) || 1;\nconst top = scores[0];\n\nreturn [{ json: { detected: top.name, confidence: Math.round((top.score / total) * 100), scores } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 1200],
      "id": "f1a2b3c4-0001-0001-0001-000000000001",
      "name": "Detect Lang"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ 'рџЊђ Langue dГ©tectГ©e : ' + $json.detected + ' (' + $json.confidence + '% de confiance)\\n\\nDГ©tail :\\n' + $json.scores.map(s => 'вЂў ' + s.name + ' : ' + s.score + ' marqueurs').join('\\n') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 1200],
      "id": "f1a2b3c4-0002-0002-0002-000000000002",
      "name": "RГ©pondre Langue"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "helloworld" }] },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "base64Image", "value": "=data:{{ $json.body.mime }};base64,{{ $json.body.data }}" },
            { "name": "language", "value": "fre" },
            { "name": "isOverlayRequired", "value": "false" },
            { "name": "OCREngine", "value": "2" },
            { "name": "scale", "value": "true" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 1600],
      "id": "inv0001-0001-0001-0001-000000000001",
      "name": "OCR Facture"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.ParsedResults?.[0]?.ParsedText || '';\nconst format = $('Webhook').first().json.body.format || 'texte';\n\nconst find = (patterns) => {\n  for (const p of patterns) {\n    const m = text.match(p);\n    if (m) return (m[1] || m[0]).trim();\n  }\n  return null;\n};\n\nconst data = {\n  numero_facture: find([/(?:facture|invoice|n[В°o])[^\\n\\d]*([A-Z0-9\\-\\/]{4,25})/i, /N[В°o][^\\n]*?([A-Z0-9\\-\\/]{4,25})/i]),\n  date: find([/(?:date)[^\\n]*?(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{2,4})/i, /(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{4})/]),\n  fournisseur: find([/(?:de\\s*:|Г©metteur\\s*:|sociГ©tГ©\\s*:|vendeur\\s*:)\\s*([^\\n]{3,50})/i, /^([A-Z][A-Z\\s&]{3,40})$/m]),\n  montant_ht: find([/(?:total\\s*h\\.?t\\.?|montant\\s*h\\.?t\\.?|ht)[^\\nв‚¬$]*(\\d[\\d\\s,\\.]+)\\s*[в‚¬$]/i]),\n  tva: find([/(?:tva|vat)[^\\nв‚¬$]*(\\d[\\d\\s,\\.]+)\\s*[в‚¬$]/i, /(?:tva|vat)[^\\n]*(\\d+(?:[,.]\\d+)?)\\s*%/i]),\n  montant_ttc: find([/(?:total\\s*t\\.?t\\.?c\\.?|ttc|net\\s*Г \\s*payer|total\\s*dГ»)[^\\nв‚¬$]*(\\d[\\d\\s,\\.]+)\\s*[в‚¬$]/i]),\n  siret: find([/(?:siret)[^\\n]*(\\d[\\d\\s]{12,14}\\d)/i]),\n  tva_numero: find([/(?:n[В°o]\\s*tva|vat\\s*n[В°o])[^\\n]*([A-Z]{2}[0-9]{9,13})/i])\n};\n\nconst fields = Object.entries(data).filter(([,v]) => v);\n\nlet output;\nif (format === 'json') {\n  output = JSON.stringify(Object.fromEntries(fields), null, 2);\n} else if (format === 'csv') {\n  output = 'Champ,Valeur\\n' + fields.map(([k,v]) => `\"${k}\",\"${v}\"`).join('\\n');\n} else {\n  output = 'рџ“„ DONNГ‰ES FACTURE\\n' + 'в”Ђ'.repeat(30) + '\\n' + fields.map(([k,v]) => k.padEnd(16) + ': ' + v).join('\\n') + '\\n\\nвЂ” Texte brut вЂ”\\n' + text.substring(0, 400);\n}\n\nreturn [{ json: { output } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 1600],
      "id": "inv0002-0002-0002-0002-000000000002",
      "name": "Parser Facture"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 1600],
      "id": "inv0003-0003-0003-0003-000000000003",
      "name": "RГ©pondre Facture"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "helloworld" }] },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "base64Image", "value": "=data:{{ $json.body.mime }};base64,{{ $json.body.data }}" },
            { "name": "language", "value": "fre" },
            { "name": "isOverlayRequired", "value": "false" },
            { "name": "OCREngine", "value": "2" },
            { "name": "scale", "value": "true" },
            { "name": "detectOrientation", "value": "true" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 1800],
      "id": "frm0001-0001-0001-0001-000000000001",
      "name": "OCR Formulaire"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.ParsedResults?.[0]?.ParsedText || '';\nconst format = $('Webhook').first().json.body.format || 'texte';\n\nconst find = (patterns) => {\n  for (const p of patterns) {\n    const m = text.match(p);\n    if (m) return (m[1] || m[0]).trim();\n  }\n  return null;\n};\n\nconst data = {\n  nom: find([/(?:^|\\n)\\s*nom\\s*:?\\s*([A-ZГЂГ‚Г„][a-zA-ZГЂ-Гї\\-\\s]{1,30})/im, /(?:^|\\n)\\s*name\\s*:?\\s*([A-Z][a-zA-Z\\-\\s]{1,30})/im]),\n  prenom: find([/(?:pr[eГ©]nom|first\\s*name)\\s*:?\\s*([A-ZГЂГ‚Г„][a-zA-ZГЂ-Гї\\-\\s]{1,30})/im]),\n  date_naissance: find([/(?:nГ©|naissance|birth)[^\\n]*?(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{2,4})/i]),\n  telephone: find([/((?:\\+33|0)[1-9](?:[\\s\\.\\-]?\\d{2}){4})/]),\n  email: find([/([a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,})/]),\n  adresse: find([/(?:adresse|address)\\s*:?\\s*([^\\n]{10,80})/i, /(?:\\d+[,\\s]+(?:rue|avenue|boulevard|allГ©e|place|impasse)[^\\n]{5,60})/i]),\n  code_postal: find([/\\b(\\d{5})\\b/]),\n  ville: find([/(?:ville|city)\\s*:?\\s*([A-ZГЂГ‚Г„][a-zA-ZГЂ-Гї\\-\\s]{2,30})/im, /\\d{5}\\s+([A-ZГЂГ‚Г„][a-zA-ZГЂ-Гї\\-\\s]{2,30})/i]),\n  date: find([/(?:^|\\n)\\s*(?:date|le)\\s*:?\\s*(\\d{1,2}[\\/-]\\d{1,2}[\\/-]\\d{2,4})/im])\n};\n\nconst fields = Object.entries(data).filter(([,v]) => v);\n\nlet output;\nif (format === 'json') {\n  output = JSON.stringify(Object.fromEntries(fields), null, 2);\n} else if (format === 'csv') {\n  output = 'Champ,Valeur\\n' + fields.map(([k,v]) => `\"${k}\",\"${v}\"`).join('\\n');\n} else {\n  output = 'рџ“‹ DONNГ‰ES FORMULAIRE\\n' + 'в”Ђ'.repeat(30) + '\\n' + fields.map(([k,v]) => k.padEnd(16) + ': ' + v).join('\\n') + '\\n\\nвЂ” Texte brut вЂ”\\n' + text.substring(0, 400);\n}\n\nreturn [{ json: { output } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 1800],
      "id": "frm0002-0002-0002-0002-000000000002",
      "name": "Parser Formulaire"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 1800],
      "id": "frm0003-0003-0003-0003-000000000003",
      "name": "RГ©pondre Formulaire"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/facebook/bart-large-mnli",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer VOTRE_TOKEN_HUGGINGFACE" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"inputs\": $json.body.text, \"parameters\": { \"candidate_labels\": [\"commercial\", \"juridique\", \"technique\", \"financier\", \"mГ©dical\", \"personnel\", \"administratif\"] } } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 1400],
      "id": "a07e885e-8487-4857-847f-870e314104b7",
      "name": "Classification"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.body.slice(0,3).map(item => 'вЂў ' + item.label + ' : ' + (item.score*100).toFixed(0) + '%').join('\\n') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 1400],
      "id": "6cce8679-e814-4f87-98ef-109ab3320a82",
      "name": "RГ©pondre Classification"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Router", "type": "main", "index": 0 }]]
    },
    "Router": {
      "main": [
        [{ "node": "OCR Image", "type": "main", "index": 0 }],
        [{ "node": "Extract PDF", "type": "main", "index": 0 }],
        [{ "node": "Extract File", "type": "main", "index": 0 }],
        [{ "node": "HuggingFace RГ©sumГ©", "type": "main", "index": 0 }],
        [{ "node": "MyMemory Traduction", "type": "main", "index": 0 }],
        [{ "node": "Classification", "type": "main", "index": 0 }],
        [{ "node": "Statistiques", "type": "main", "index": 0 }],
        [{ "node": "CSV vers JSON", "type": "main", "index": 0 }],
        [{ "node": "LanguageTool", "type": "main", "index": 0 }],
        [{ "node": "Detect Lang", "type": "main", "index": 0 }],
        [{ "node": "OCR Facture", "type": "main", "index": 0 }],
        [{ "node": "OCR Formulaire", "type": "main", "index": 0 }]
      ]
    },
    "OCR Image": { "main": [[{ "node": "RГ©pondre OCR", "type": "main", "index": 0 }]] },
    "Extract PDF": { "main": [[{ "node": "RГ©pondre PDF", "type": "main", "index": 0 }]] },
    "Extract File": { "main": [[{ "node": "RГ©pondre Fichier", "type": "main", "index": 0 }]] },
    "HuggingFace RГ©sumГ©": { "main": [[{ "node": "RГ©pondre RГ©sumГ©", "type": "main", "index": 0 }]] },
    "MyMemory Traduction": { "main": [[{ "node": "RГ©pondre Traduction", "type": "main", "index": 0 }]] },
    "Classification": { "main": [[{ "node": "RГ©pondre Classification", "type": "main", "index": 0 }]] },
    "Statistiques": { "main": [[{ "node": "RГ©pondre Stats", "type": "main", "index": 0 }]] },
    "CSV vers JSON": { "main": [[{ "node": "RГ©pondre CSV", "type": "main", "index": 0 }]] },
    "LanguageTool": { "main": [[{ "node": "RГ©pondre Correcteur", "type": "main", "index": 0 }]] },
    "Detect Lang": { "main": [[{ "node": "RГ©pondre Langue", "type": "main", "index": 0 }]] },
    "OCR Facture": { "main": [[{ "node": "Parser Facture", "type": "main", "index": 0 }]] },
    "Parser Facture": { "main": [[{ "node": "RГ©pondre Facture", "type": "main", "index": 0 }]] },
    "OCR Formulaire": { "main": [[{ "node": "Parser Formulaire", "type": "main", "index": 0 }]] },
    "Parser Formulaire": { "main": [[{ "node": "RГ©pondre Formulaire", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "9ec017c5-96c7-4b78-bac7-3474f5ff23f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "db7226f0e75c8049ad6d45ec7c04da9b90d79c8b25d32272a66ca65ff3aac5c6"
  },
  "id": "xNKTdw7Xe9J3iNMQ",
  "tags": []
}
