n8n-workflows/correcteur-email.json
{
  "name": "Pellet — Correcteur Email Pro",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pellet-correcteur-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "pellet-correcteur-email"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst text = body.text ?? '';\nif (!text.trim()) throw new Error('Texte vide');\nreturn [{ json: { text } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Valide",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "x-api-key", "value": "={{ $credentials.value }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 2048,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Tu es un expert en communication professionnelle pour une entreprise de distribution de pellets et bois de chauffage (Pellet Distribution).\\n\\nCorrige et améliore cet email pour qu'il soit professionnel, clair et courtois. Garde le même sens et la même structure. Corrige l'orthographe, la grammaire, la ponctuation et le ton.\\n\\nRéponds UNIQUEMENT avec l'email corrigé, sans explication ni commentaire.\\n\\nEmail à corriger :\\n{{ $json.text }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REMPLACE_PAR_TON_ID_CLAUDE",
          "name": "Claude API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.content?.[0]?.text ?? '';\nreturn [{ json: { text } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Extrait texte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ text: $json.text }) }}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Réponse",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Valide", "type": "main", "index": 0 }]] },
    "Valide": { "main": [[{ "node": "Claude", "type": "main", "index": 0 }]] },
    "Claude": { "main": [[{ "node": "Extrait texte", "type": "main", "index": 0 }]] },
    "Extrait texte": { "main": [[{ "node": "Réponse", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "pellet-distribution" }],
  "meta": { "templateId": "pellet-correcteur-email" }
}
