n8n-workflows/extraction-facture-fournisseur.json
{
  "name": "Pellet — Extraction Facture Fournisseur → Airtable",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "mailbox": "INBOX",
        "options": {
          "allowUnauthorizedCerts": false,
          "downloadAttachments": true
        }
      },
      "id": "a7b8c9d0-0007-0007-0007-000000000001",
      "name": "IMAP — Factures",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [240, 300],
      "credentials": {
        "imap": {
          "id": "REMPLACE_PAR_TON_ID_IMAP",
          "name": "IMAP Pellet Fournisseurs"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\nconst attachments = email.attachments ?? [];\n\n// Cherche une pièce jointe PDF\nconst pdf = attachments.find(a => \n  a.contentType === 'application/pdf' || \n  (a.filename ?? '').toLowerCase().endsWith('.pdf')\n);\n\nif (!pdf) return [];\n\nconst base64 = Buffer.from(pdf.content ?? '', 'binary').toString('base64');\n\nreturn [{ \n  json: { \n    base64, \n    filename: pdf.filename ?? 'facture.pdf',\n    from: email.from,\n    subject: email.subject,\n    date: email.date\n  } \n}];"
      },
      "id": "a7b8c9d0-0007-0007-0007-000000000002",
      "name": "Extrait PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "x-api-key", "value": "={{ $credentials.value }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-6\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"document\",\n          \"source\": {\n            \"type\": \"base64\",\n            \"media_type\": \"application/pdf\",\n            \"data\": \"{{ $json.base64 }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Extrais les informations de cette facture fournisseur. Réponds UNIQUEMENT en JSON avec ces champs :\\n{ \\\"numero_facture\\\": \\\"\\\", \\\"date_facture\\\": \\\"\\\", \\\"fournisseur_nom\\\": \\\"\\\", \\\"fournisseur_siret\\\": \\\"\\\", \\\"montant_ht\\\": 0, \\\"tva\\\": 0, \\\"montant_ttc\\\": 0, \\\"produits\\\": \\\"\\\", \\\"date_echeance\\\": \\\"\\\" }\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a7b8c9d0-0007-0007-0007-000000000003",
      "name": "Claude — Analyse PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REMPLACE_PAR_TON_ID_CLAUDE",
          "name": "Claude API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const claudeResp = $input.first().json;\nconst emailData = $('Extrait PDF').first().json;\nconst text = claudeResp.content?.[0]?.text ?? '{}';\n\nlet parsed = {};\ntry {\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(jsonMatch?.[0] ?? '{}');\n} catch(e) {\n  parsed = { notes: text };\n}\n\nparsed.email_from = emailData.from;\nparsed.email_subject = emailData.subject;\nparsed.email_date = emailData.date;\nparsed.filename = emailData.filename;\n\nreturn [{ json: parsed }];"
      },
      "id": "a7b8c9d0-0007-0007-0007-000000000004",
      "name": "Parse + Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "base": { "__rl": true, "value": "appB7GjlNkBXiZjB2", "mode": "id" },
        "table": { "__rl": true, "value": "tblHe0EZznaMuFqtF", "mode": "id" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nom": "={{ $json.fournisseur_nom }}",
            "SIRET": "={{ $json.fournisseur_siret }}",
            "Type": "Fournisseur",
            "Notes": "=Facture {{ $json.numero_facture }} — {{ $json.date_facture }} — {{ $json.montant_ttc }} € TTC",
            "Statut": "Facture reçue"
          },
          "schema": [],
          "ignoreUnknownFields": true
        },
        "options": {}
      },
      "id": "a7b8c9d0-0007-0007-0007-000000000005",
      "name": "Airtable — Fournisseur",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1120, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "REMPLACE_PAR_TON_ID_AIRTABLE",
          "name": "Airtable Pellet CRM"
        }
      }
    }
  ],
  "connections": {
    "IMAP — Factures": { "main": [[{ "node": "Extrait PDF", "type": "main", "index": 0 }]] },
    "Extrait PDF": { "main": [[{ "node": "Claude — Analyse PDF", "type": "main", "index": 0 }]] },
    "Claude — Analyse PDF": { "main": [[{ "node": "Parse + Merge", "type": "main", "index": 0 }]] },
    "Parse + Merge": { "main": [[{ "node": "Airtable — Fournisseur", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "pellet-distribution" }],
  "meta": { "templateId": "pellet-extraction-facture" }
}
