n8n-workflows/fiche-client.json
{
  "name": "Pellet — Fiche Client → Airtable",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Tu es un assistant CRM pour une société de distribution de pellets.\n\nQuand tu reçois une requête, tu dois :\n\n1. Utilise 'Search records in Airtable' pour chercher le client.\n   Construis la formule selon le critère reçu :\n   - Nom/Prénom : OR(SEARCH(LOWER(\"terme\"),LOWER({Nom})),SEARCH(LOWER(\"terme\"),LOWER({Prénom})))\n   - Téléphone : OR(SEARCH(\"terme\",{Numéro de téléphone}),SEARCH(\"terme\",{Numéro de portable}))\n   - Email : {Email de contact}=\"terme\"\n   - Recherche générale : OR(SEARCH(LOWER(\"terme\"),LOWER({Nom})),SEARCH(LOWER(\"terme\"),LOWER({Prénom})),SEARCH(\"terme\",{Numéro de portable}),SEARCH(\"terme\",{Numéro de téléphone}),SEARCH(LOWER(\"terme\"),LOWER({Email de contact})))\n\n2. Si le client EST TROUVÉ :\n   Retourne ses informations complètes au format JSON :\n   { \"found\": true, \"action\": \"found\", \"client\": { tous les champs non vides du record }, \"message\": \"Fiche client trouvée\" }\n\n3. Si le client N'EST PAS TROUVÉ :\n   Retourne : { \"found\": false, \"action\": \"not_found\", \"message\": \"Aucun client trouvé pour \\\"[terme recherché]\\\". Souhaitez-vous créer une nouvelle fiche ?\" }\n   N'appelle PAS 'Create or update a record in Airtable' automatiquement — attends la confirmation.\n\n4. Si la requête contient explicitement une demande de création (ex: 'créer', 'nouveau client', 'ajouter') avec des données :\n   Utilise 'Create or update a record in Airtable' avec les champs extraits du texte.\n   Retourne : { \"found\": false, \"action\": \"created\", \"airtable_id\": \"recXXX\", \"client\": { champs }, \"message\": \"Fiche créée avec succès\" }\n\nRègle : réponds UNIQUEMENT en JSON valide, sans texte autour."
        }
      },
      "id": "6028e19f-2606-44b0-8147-8e6d00277ddb",
      "name": "AI Agent — Fiche Client",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [80, -416]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output ?? $input.first().json;\nlet result = {};\ntry {\n  const str = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  const match = str.match(/\\{[\\s\\S]*\\}/);\n  result = JSON.parse(match?.[0] ?? '{}');\n} catch(e) {\n  result = { message: String(raw) };\n}\nresult.success = true;\nreturn [{ json: result }];"
      },
      "id": "fbd6b651-c9c4-4674-9f71-6ebfa9a4c647",
      "name": "Parse Résultat Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, -416]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pellet-fiche-client",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6e2e2123-bece-4aee-8e28-fa89e25befca",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-368, -416],
      "webhookId": "pellet-fiche-client"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst text = body.text ?? '';\nif (!text.trim()) throw new Error('Données vides');\nreturn [{ json: { text } }];"
      },
      "id": "63946424-92b3-4fb8-875a-d0630785e581",
      "name": "Valide1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-144, -416]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "31c800b0-df22-443b-a3de-853353be6596",
      "name": "Réponse1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [656, -416]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appB7GjlNkBXiZjB2",
          "mode": "list",
          "cachedResultName": "Pellet CRM",
          "cachedResultUrl": "https://airtable.com/appB7GjlNkBXiZjB2"
        },
        "table": {
          "__rl": true,
          "value": "tblHe0EZznaMuFqtF",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appB7GjlNkBXiZjB2/tblHe0EZznaMuFqtF"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [144, -112],
      "id": "7a3534e2-98d6-4344-94a3-06f1eecfc00c",
      "name": "Search records in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "IkiW3kNGODfylx4P",
          "name": "Airtable cyril"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appB7GjlNkBXiZjB2",
          "mode": "list",
          "cachedResultName": "Pellet CRM",
          "cachedResultUrl": "https://airtable.com/appB7GjlNkBXiZjB2"
        },
        "table": {
          "__rl": true,
          "value": "tblHe0EZznaMuFqtF",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appB7GjlNkBXiZjB2/tblHe0EZznaMuFqtF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            { "id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "string", "readOnly": true, "removed": false },
            { "id": "code contact", "displayName": "code contact", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Code Contact2", "displayName": "Code Contact2", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "array", "readOnly": false, "removed": false },
            { "id": "prospect", "displayName": "prospect", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "boolean", "readOnly": false, "removed": false },
            { "id": "Civilité", "displayName": "Civilité", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "options", "options": [{ "name": "Monsieur", "value": "Monsieur" }, { "name": "Madame", "value": "Madame" }, { "name": "Civilité", "value": "Civilité" }], "readOnly": false, "removed": false },
            { "id": "Nom", "displayName": "Nom", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Prénom", "displayName": "Prénom", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Raison sociale", "displayName": "Raison sociale", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Groupement", "displayName": "Groupement", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Forme juridique", "displayName": "Forme juridique", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "options", "options": [{ "name": "SARL", "value": "SARL" }, { "name": "EI", "value": "EI" }, { "name": "SA", "value": "SA" }, { "name": "SAS", "value": "SAS" }, { "name": "SASU", "value": "SASU" }, { "name": "Forme juridique", "value": "Forme juridique" }], "readOnly": false, "removed": false },
            { "id": "Activité principale", "displayName": "Activité principale", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Client", "displayName": "Client", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "boolean", "readOnly": false, "removed": false },
            { "id": "Famille", "displayName": "Famille", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "options", "options": [{ "name": "Particulier", "value": "Particulier" }, { "name": "Pro", "value": "Pro" }, { "name": "Revendeur", "value": "Revendeur" }, { "name": "Restaurant", "value": "Restaurant" }, { "name": "Famille", "value": "Famille" }, { "name": "Particuliers", "value": "Particuliers" }], "readOnly": false, "removed": false },
            { "id": "Date de dernière commande", "displayName": "Date de dernière commande", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": true, "removed": false },
            { "id": "Nombre de commandes", "displayName": "Nombre de commandes", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": true, "removed": false },
            { "id": "Valeur totale des commandes", "displayName": "Valeur totale des commandes", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": true, "removed": false },
            { "id": "Commandes associées", "displayName": "Commandes associées", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "array", "readOnly": false, "removed": false },
            { "id": "Email de contact", "displayName": "Email de contact", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Numéro de téléphone", "displayName": "Numéro de téléphone", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Numéro de portable", "displayName": "Numéro de portable", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Adresse", "displayName": "Adresse", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Adresse complémentaire", "displayName": "Adresse complémentaire", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Ville", "displayName": "Ville", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "code postal", "displayName": "code postal", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Horaires d'ouverture", "displayName": "Horaires d'ouverture", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Analyse société", "displayName": "Analyse société", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Origine contact", "displayName": "Origine contact", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Livraisons", "displayName": "Livraisons", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "array", "readOnly": false, "removed": false },
            { "id": "Date de création", "displayName": "Date de création", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": true, "removed": false },
            { "id": "Code Client (from Code Client )", "displayName": "Code Client (from Code Client )", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": true, "removed": false },
            { "id": "Commandes Clients", "displayName": "Commandes Clients", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Copie de Livraisons", "displayName": "Copie de Livraisons", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Copie de Livraisons 2", "displayName": "Copie de Livraisons 2", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Livraisons 2", "displayName": "Livraisons 2", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false },
            { "id": "Conditions de livraisons", "displayName": "Conditions de livraisons", "required": false, "defaultMatch": false, "canBeUsedToMatch": true, "display": true, "type": "string", "readOnly": false, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [320, -112],
      "id": "17a90a01-3637-4b19-bb13-8ff8e87c2e4a",
      "name": "Create or update a record in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "IkiW3kNGODfylx4P",
          "name": "Airtable cyril"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-64, -208],
      "id": "36795e8c-f31d-44d4-a1d4-d714705231c0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YCx9OWhyjtonSUJ1",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent — Fiche Client": {
      "main": [[{ "node": "Parse Résultat Agent", "type": "main", "index": 0 }]]
    },
    "Parse Résultat Agent": {
      "main": [[{ "node": "Réponse1", "type": "main", "index": 0 }]]
    },
    "Webhook1": {
      "main": [[{ "node": "Valide1", "type": "main", "index": 0 }]]
    },
    "Valide1": {
      "main": [[{ "node": "AI Agent — Fiche Client", "type": "main", "index": 0 }]]
    },
    "Search records in Airtable": {
      "ai_tool": [[{ "node": "AI Agent — Fiche Client", "type": "ai_tool", "index": 0 }]]
    },
    "Create or update a record in Airtable": {
      "ai_tool": [[{ "node": "AI Agent — Fiche Client", "type": "ai_tool", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent — Fiche Client", "type": "ai_languageModel", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "e0641002-f62a-4be0-8618-8b4b258a588e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "db7226f0e75c8049ad6d45ec7c04da9b90d79c8b25d32272a66ca65ff3aac5c6"
  },
  "id": "ePVdGt45dhlUv01O",
  "tags": []
}
