n8n-workflows/fiche-client.json
{
  "name": "Pellet — Fiche Client → Airtable",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pellet-fiche-client",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "pellet-fiche-client"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst text = body.text ?? '';\nif (!text.trim()) throw new Error('Données vides');\nreturn [{ json: { text } }];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Valide",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Tu es un assistant CRM pour une société de distribution de pellets et bois de chauffage.\n\n## PROCESSUS OBLIGATOIRE — respecte cet ordre\n1. Extrais toutes les infos client du texte reçu\n2. Appelle TOUJOURS `rechercher_client` en premier (cherche par Nom+Prénom, Email de contact ou Numéro de téléphone)\n3. Analyse la réponse :\n   - records non vide → client EXISTS, utilise `sauvegarder_client` pour mettre à jour\n   - records vide → client NOUVEAU, utilise `sauvegarder_client` pour créer\n4. Réponds UNIQUEMENT avec ce JSON :\n{\"action\": \"created\" ou \"updated\", \"airtable_id\": \"recXXX ou null\", \"client\": {champs extraits}, \"message\": \"phrase résumé\"}\n\n## CHAMPS DISPONIBLES (noms exacts)\nCivilité | Nom | Prénom | Raison sociale | Groupement | Forme juridique | Activité principale\nClient | Famille | Email de contact | Numéro de téléphone | Numéro de portable\nAdresse | Adresse complémentaire | Ville | code postal\nHoraires d'ouverture | Analyse société | Origine contact | Conditions de livraisons\n\n## RÈGLES\n- Ne jamais créer de doublon\n- N'inclure que les champs non vides dans sauvegarder_client\n- Terminer par le JSON de réponse sans texte supplémentaire"
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000010",
      "name": "AI Agent — Fiche Client",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-6",
        "options": {
          "maxTokens": 1500
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000011",
      "name": "Claude Sonnet 4.6",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [460, 540],
      "credentials": {
        "anthropicApi": {
          "id": "REMPLACE_PAR_TON_ID_CLAUDE",
          "name": "Claude API Key"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Cherche si un client existe déjà dans Airtable CRM. Appelle TOUJOURS cet outil en premier avant toute sauvegarde. Retourne les records trouvés avec leurs IDs et champs.",
        "operation": "list",
        "base": { "__rl": true, "value": "appB7GjlNkBXiZjB2", "mode": "id" },
        "table": { "__rl": true, "value": "tblHe0EZznaMuFqtF", "mode": "id" },
        "options": {
          "filterByFormula": "={{ $fromAI('formule', 'Formule Airtable pour filtrer. Ex: OR(FIND(LOWER(\\'dupont\\'),LOWER({Nom})),{Email de contact}=\\'test@test.com\\')', 'string') }}",
          "maxRecords": 3
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000012",
      "name": "Outil — Rechercher Client",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [680, 540],
      "credentials": {
        "airtableTokenApi": {
          "id": "REMPLACE_PAR_TON_ID_AIRTABLE",
          "name": "Airtable Pellet CRM"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crée ou met à jour une fiche client dans Airtable. Utiliser APRÈS avoir appelé rechercher_client. La déduplication se fait automatiquement sur l'Email de contact.",
        "operation": "upsert",
        "base": { "__rl": true, "value": "appB7GjlNkBXiZjB2", "mode": "id" },
        "table": { "__rl": true, "value": "tblHe0EZznaMuFqtF", "mode": "id" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Civilité": "={{ $fromAI('civilite', 'Civilité: M. ou Mme', 'string') }}",
            "Nom": "={{ $fromAI('nom', 'Nom de famille', 'string') }}",
            "Prénom": "={{ $fromAI('prenom', 'Prénom', 'string') }}",
            "Raison sociale": "={{ $fromAI('raison_sociale', 'Nom de l entreprise si professionnel', 'string') }}",
            "Email de contact": "={{ $fromAI('email', 'Adresse email', 'string') }}",
            "Numéro de téléphone": "={{ $fromAI('telephone', 'Numéro de téléphone fixe', 'string') }}",
            "Numéro de portable": "={{ $fromAI('portable', 'Numéro de mobile', 'string') }}",
            "Adresse": "={{ $fromAI('adresse', 'Adresse postale', 'string') }}",
            "Adresse complémentaire": "={{ $fromAI('adresse2', 'Complément d adresse', 'string') }}",
            "Ville": "={{ $fromAI('ville', 'Ville', 'string') }}",
            "code postal": "={{ $fromAI('code_postal', 'Code postal', 'string') }}",
            "Activité principale": "={{ $fromAI('activite', 'Secteur d activité', 'string') }}",
            "Forme juridique": "={{ $fromAI('forme_juridique', 'Ex: SARL, SAS, EI', 'string') }}",
            "Groupement": "={{ $fromAI('groupement', 'Groupement ou réseau', 'string') }}",
            "Famille": "={{ $fromAI('famille', 'Famille client', 'string') }}",
            "Origine contact": "={{ $fromAI('origine', 'Comment le client a été contacté', 'string') }}",
            "Horaires d'ouverture": "={{ $fromAI('horaires', 'Horaires d ouverture', 'string') }}",
            "Conditions de livraisons": "={{ $fromAI('conditions_livraison', 'Conditions de livraison spécifiques', 'string') }}",
            "Analyse société": "={{ $fromAI('analyse', 'Notes ou analyse sur la société', 'string') }}"
          },
          "schema": [],
          "ignoreUnknownFields": true
        },
        "fieldsToMatchOn": { "fieldNames": ["Email de contact"] },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000013",
      "name": "Outil — Sauvegarder Client",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [900, 540],
      "credentials": {
        "airtableTokenApi": {
          "id": "REMPLACE_PAR_TON_ID_AIRTABLE",
          "name": "Airtable Pellet CRM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output ?? $input.first().json;\nlet result = {};\ntry {\n  const str = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  const match = str.match(/\\{[\\s\\S]*\\}/);\n  result = JSON.parse(match?.[0] ?? '{}');\n} catch(e) {\n  result = { message: String(raw) };\n}\nresult.success = true;\nreturn [{ json: result }];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000014",
      "name": "Parse Résultat Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Réponse",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Valide", "type": "main", "index": 0 }]]
    },
    "Valide": {
      "main": [[{ "node": "AI Agent — Fiche Client", "type": "main", "index": 0 }]]
    },
    "Claude Sonnet 4.6": {
      "ai_languageModel": [[{ "node": "AI Agent — Fiche Client", "type": "ai_languageModel", "index": 0 }]]
    },
    "Outil — Rechercher Client": {
      "ai_tool": [[{ "node": "AI Agent — Fiche Client", "type": "ai_tool", "index": 0 }]]
    },
    "Outil — Sauvegarder Client": {
      "ai_tool": [[{ "node": "AI Agent — Fiche Client", "type": "ai_tool", "index": 0 }]]
    },
    "AI Agent — Fiche Client": {
      "main": [[{ "node": "Parse Résultat Agent", "type": "main", "index": 0 }]]
    },
    "Parse Résultat Agent": {
      "main": [[{ "node": "Réponse", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "pellet-distribution" }],
  "meta": { "templateId": "pellet-fiche-client" }
}
