n8n-workflows/fiche-client.json
{
  "name": "Pellet — Fiche Client → Airtable",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pellet-fiche-client",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "pellet-fiche-client"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst text = body.text ?? '';\nif (!text.trim()) throw new Error('Données vides');\nreturn [{ json: { text } }];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Valide",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "x-api-key", "value": "={{ $credentials.value }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 512,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Extrais les informations client depuis ce texte et réponds UNIQUEMENT en JSON valide avec ces champs (laisse vide si absent) :\\n{ \\\"nom\\\": \\\"\\\", \\\"prenom\\\": \\\"\\\", \\\"email\\\": \\\"\\\", \\\"telephone\\\": \\\"\\\", \\\"adresse\\\": \\\"\\\", \\\"code_postal\\\": \\\"\\\", \\\"ville\\\": \\\"\\\", \\\"type_chauffage\\\": \\\"\\\", \\\"notes\\\": \\\"\\\" }\\n\\nTexte :\\n{{ $json.text }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Claude — Extraire",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REMPLACE_PAR_TON_ID_CLAUDE",
          "name": "Claude API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.content?.[0]?.text ?? '{}';\nlet parsed = {};\ntry {\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(jsonMatch?.[0] ?? '{}');\n} catch(e) {\n  parsed = { notes: text };\n}\nreturn [{ json: parsed }];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": { "__rl": true, "value": "appB7GjlNkBXiZjB2", "mode": "id" },
        "table": { "__rl": true, "value": "tblHe0EZznaMuFqtF", "mode": "id" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nom": "={{ $json.nom }}",
            "Prénom": "={{ $json.prenom }}",
            "Email": "={{ $json.email }}",
            "Téléphone": "={{ $json.telephone }}",
            "Adresse": "={{ $json.adresse }}",
            "Code Postal": "={{ $json.code_postal }}",
            "Ville": "={{ $json.ville }}",
            "Type chauffage": "={{ $json.type_chauffage }}",
            "Notes": "={{ $json.notes }}",
            "Statut": "Prospect"
          },
          "schema": [],
          "ignoreUnknownFields": true
        },
        "fieldsToMatchOn": { "fieldNames": ["Email"] },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Airtable — Contacts",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1120, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "REMPLACE_PAR_TON_ID_AIRTABLE",
          "name": "Airtable Pellet CRM"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, client: $('Parse JSON').first().json }) }}"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Réponse",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Valide", "type": "main", "index": 0 }]] },
    "Valide": { "main": [[{ "node": "Claude — Extraire", "type": "main", "index": 0 }]] },
    "Claude — Extraire": { "main": [[{ "node": "Parse JSON", "type": "main", "index": 0 }]] },
    "Parse JSON": { "main": [[{ "node": "Airtable — Contacts", "type": "main", "index": 0 }]] },
    "Airtable — Contacts": { "main": [[{ "node": "Réponse", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "pellet-distribution" }],
  "meta": { "templateId": "pellet-fiche-client" }
}
